body {
  font-family: "Anton", sans-serif;
  margin: 0;
  padding: 0;
}
.text-decoration-none{
  text-decoration: none!important;
}

.conteiner-fluid-custom {
  height: auto;
}

.section-custom-1 {
  height: 500px;
  background-color: green;
}

.hero {
  background-color: brown;
}

/* Fondos */
.Fondo {
  background-image: url("./../img/contacto.jpg");
  background-size: cover;
  min-height: 100vh;
}
.actividadesFondo {
  background-image: url("./../img/fondo_actividades.jpg");
  background-size: cover;
  height: 100vh;
}

/* banner */
.tamañoBanner {
  height: 100vh;
  width: 100vw;
}

.planPrices{
  max-width: 90vw;
}

/* footer */
.footer {
  background-color: black;
}
.contenedorIcono {
  background-color: lightgray;
  color: black !important;
  height: 3em;
  text-decoration: none;
  width: 3em;
}

#intro2 {
  font-size: 1.5em;
}

.imageContainer {
  margin: 0;
  padding: 0;
  margin-bottom: 1em;
}

.dontShowOnmobile{
  display: none;
}

/* pc view */
@media (min-width: 1025px) {
  .tamañoBanner {
    height: 90vh;
  }
  .imageContainer {
    margin: 1em;
  }
  .descripcionQuieneso {
    text-align: start !important;
    max-width: 40% !important;
  }
}

/* tablet view */
@media (min-width: 801px) {

  .showOnTablet{
    display: block;
  }

  .dontShowOnTablet{
    display: none;
  }
  .my-4-tablet {
    margin-top: 4em;
    margin-bottom: 4em;
  }

  .my-5-tablet {
    margin-top: 5em;
    margin-bottom: 5em;
  }
}
